<div class="container">
  <div class="row mt-2 ">
    <div class="col">
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Bisnis Indonesia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form-tambah">Tambah data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">about</a>
          </li>
        </ul>

    </div>
  </div>

</div>