<div class="container mt-5">
    <div class="row">
        <div class="col-5">
            <form method="post" action="/tambah">
                <div class="mb-3">
                  <label for="stock" class="form-label">Nama barang</label>
                  <input type="text" class="form-control" id="nama_barang" aria-describedby="nama_barang" name="nama_barang">
                </div>
                <div class="mb-3">
                  <label for="stock" class="form-label">stock</label>
                  <input type="text" class="form-control" id="stock" name="stock">
                </div>
                <button type="submit" class="btn btn-primary">Tambah</button>
              </form>
        </div>
    </div>
</div>
